/* -------------------------------------------------------------------------- */
/*                                   Colors                                   */
/* -------------------------------------------------------------------------- */
$dark-gray: #808080;
$light-gray: #d3d3d3bb;

/* -------------------------------------------------------------------------- */
/*                                   Fonts                                    */
/* -------------------------------------------------------------------------- */
$primary-font: 'Times New Roman', Times, serif;
$second-font: Arial, Helvetica, sans-serif;
