.product-item-container {
  width: 150px;
  @include mq(sm) {
    width: 200px;
  }
}
.product-item-img-container {
  position: relative;
  transition: filter 0.3s ease-in;

  &:hover {
    filter: grayscale(0.45);

    & .product-item-icon {
      opacity: 1;
    }
  }
}

.product-item-img {
  width: 100%;
  height: 150px;
  object-fit: cover;

  @include mq(sm) {
    height: 200px;
  }
}

.product-item-name {
  text-align: center;
}

.product-item-price {
  text-align: center;
  color: $dark-gray;
}

.product-item-icon {
  position: absolute;
  padding: 0.1rem;
  background-color: white;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &--like {
    top: 0.5rem;
    right: 0.5rem;
  }

  &--delete {
    top: 0.5rem;
    left: 0.5rem;
  }
}
